0<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head %>

    <meta charset="utf-8">
    <title>Details</title>
    <link href="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.15.2/dist/bootstrap-table.min.js"></script>

    <script type="text/javascript" src="js/details.js"></script>

    <script type="text/javascript">
       window.onbeforeunload = function (e) {
    var e = e || window.event;
       if (e) {
         e.returnValue = 'Se perderan todos los datos que no hayas guardado';
       }
}

</script>
  </head>
  <body >
    <section>

      <div class=" mx-2 my-2  shadow-lg text-center border border-light bg-light rounded-lg mb-5">
      <div class="mx-5 my-5">
        <p><h1>Order number	</h1>
        <h3>2019510235350</h3>
      </div>
    </div>
  </section>

    <div class="jumbotron ml-5 mr-5">
      <table class="table" id="tabla" data-toggle="tabla">
        <thead>
          <tr ><th scope="col" data-field="uno">uno</th></tr>
          <tr><th>dos</th></tr>

        </thead>
      </table>
    </div>
    <div class="fixed-bottom mb-5 text-center">
      <button type="button" name="button" class="btn-outline-success btn-lg mr-5">Save Changes</button>
      <button type="button" name="button" class="btn-outline-danger btn-lg ml-5" onClick="Javascript:alerta();">Discard Changes</button>

    </div>
    <script type="text/javascript">
    function alerta(){
      window.close()
    }
</script>
<script>
  getReporte()
</script>
  </body>
</html>
