<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <% include partials/head %>
    <meta charset="utf-8">
    <title>OMS Reporte de errores</title>
    <script type="text/javascript" src="js/date.js"></script>
  </head>
  <body>
    <% include partials/nav %>
    <!---Inicia el div de consulta de fechas---->
    <section>
      <div class="card mx-5 my-5 bg-light ">

        <form class="form-inline d-flex " id="datos">
          <div class="input-group mb-3">

            <div class="justify-content-start input-group mb-3 5 ml-5 mt-5 ">
              <select class="custom-select" id="motivo">
                <option selected>Selecciona apartado</option>
                <option value="1">error</option>
                <option value="2">comentario</option>
               </select>
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Date</label>
              </div>
              <input type="text" id="datepicker" disabled>
            </div>



            <div class=" input-group mb-3 5 ml-5 mt-5 ">
              <a class="btn btn-outline-info justify-content-end" onclick="ConsultarError()" id = "button"> buscar </a>
            </div>

          </form>
        </div>
    </section>
    <!---Finaliza el div de consulta de fechas---->
  </div>
    <div class="jumbotron ml-5 mr-5">
      <table class="table table-striped " id="table" data-toggle="table"  data-toolbar="#toolbar">
        <thead class="table-info table-hover">
        <tr>
          <th scope="col" data-field="id">Numero de caso </th>
            <th scope="col" data-field="cabecera">Reporte</th>
            <th scope="col" data-field="contenido">Contenido</th>

        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
      </table>

      <h1 class="display-4 text-center " id="texto">Make a query </h1>


  </div>
  <script type="text/javascript" src="css/pushbar.js"></script>
  <script type="text/javascript">
  var pushbar = new Pushbar({
    blur:true,
    overlay:true,
  });
  </script>
  <script>
      $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
      });
  </script>

  </body>
</html>
