.login{
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #04BAB5, #00ffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #04BAB5, #08e8de); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.signup{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index{
  background: #0BA0C4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0BA0C4, #098EAF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0BA0C4, #098EAF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
