<nav class="navbar navbar-light" style="background-color: #04BAB5;">
  <a class="navbar-brand"> <button type="button" name="button" class="btn btn-outline-dark btn-lg"><span class="fa fa-users-cog"></span></button><b> Order Management Service </b></a>
  <a href="logout" class="btn btn-outline-dark mr-sm-2"> <span class="fa fa-sign-out-alt"></span> Signout</a>
</nav>
