<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">



    <% include partials/head %>

    <title>CMS AZZHEZTIA</title>
  </head>
  <body class="index">
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card.body mt-5 mb-5">
          <h1><span class="far fa-arrow-alt-circle-right"></span> Choose your server</h1>
          <div class="mt-5">
            <a href="/login" class="btn btn-light btn-lg ">
              <span class="fa fa-user"></span> Order Management Service
            </a>
          </div>
          <div class="mt-5">
            <a href="/SignUp" class="btn btn-light btn-lg">
              <span class="fa fa-user"></span> IT Access Portal
            </a>

          </div>


        </div>

      </div>

    </div>

  </body>
</html>
